[Unit]
Description=Hilal
After=network-online.target
Wants=network-online.target

[Service]
User=irfan
Group=irfan
WorkingDirectory=/home/irfan/hilal
ExecStart=/home/irfan/hilal/hilal
EnvironmentFile=/home/irfan/hilal/hilal.env
Restart=always
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/home/irfan/hilal

[Install]
WantedBy=multi-user.target
